@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html, body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #333;
	height: auto;
	
 	background: #cebe29; 
 	background: -moz-linear-gradient(-45deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%, #89b4ff 91%); 
 	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cebe29), color-stop(33%,#9b1f50), color-stop(71%,#2989d8), color-stop(91%,#89b4ff)); 
 	background: -webkit-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	background: -o-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	background: -ms-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	background: linear-gradient(135deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebe29', endColorstr='#89b4ff',GradientType=1 ); 

/*
	background: #cebe29;
	background: -moz-linear-gradient(-45deg, #000000 0%, #7F7F7F 33%, #3E466A 71%, #89b4ff 91%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#000000), color-stop(33%,#7F7F7F), color-stop(71%,#3E466A), color-stop(91%,#89b4ff));
	background: -webkit-linear-gradient(-45deg, #000000 0%,#7F7F7F 33%,#3E466A 71%,#89b4ff 91%);
	background: -o-linear-gradient(-45deg, #000000 0%,#7F7F7F 33%,#3E466A 71%,#89b4ff 91%);
	background: -ms-linear-gradient(-45deg, #000000 0%,#7F7F7F 33%,#3E466A 71%,#89b4ff 91%);
	background: linear-gradient(135deg, #000000 0%,#7F7F7F 33%,#3E466A 71%,#89b4ff 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3E466A',GradientType=1 );
*/

	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

html,body,.container {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #333;
	height: auto;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.container > header,
.main {
	padding: 0 30px 50px 30px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.container > header {
	padding: 30px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #fff;
	float: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.container > header h1 span {
	font-size: 18px;
	font-weight: 300;
	display: block;
}


.custom-todoList-full {
	position: absolute;
	top: 24px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
}

.fc-todoList-container {
	height: auto;
	bottom: 0px;
	width: 100%;
	top: 50px;
	position: absolute;
}

.custom-header {
	padding: 20px 20px 10px 30px;
	height: 50px;
	position: relative;
}

.custom-header h2,
.custom-header h3 {
	float: left;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

.custom-header h2 {
	color: #fff;
	width: 60%;
}

.custom-header h2 a, 
.custom-header h2 span {
	color: rgba(255,255,255,0.3);
	font-size: 18px;
	letter-spacing: 3px;
	white-space: nowrap;
}

.custom-header h2 a {
	color: rgba(255,255,255,0.5);
}

.no-touch .custom-header h2 a:hover {
	color: rgba(255,255,255,0.9);
}

.custom-header h3 {
	/*width: 40%;*/
	color: #ddd;
	color: rgba(255,255,255,0.6);
	font-weight: 300;
	line-height: 30px;
/* 	text-align: right; */
/*	padding-right: 125px;*/
}

.custom-header nav {
	position: absolute;
	right: 20px;
	top: 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-header nav span {
	float: left;
	width: 30px;
	height: 30px;
	position: relative;
	color: transparent;
	cursor: pointer;
	background: rgba(255,255,255,0.3);
	margin: 0 1px;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	box-shadow: inset 0 1px rgba(255,255,255,0.2);
}

.custom-header nav span:first-child {
	border-radius: 3px 0 0 3px;
}

.custom-header nav span:hover {
	background: rgba(255,255,255,0.5);
}

.custom-header span:before {
/* 	font-family: 'fontawesome-selected'; */
	font-family: 'FontAwesome';
	color: #fff;
	display: inline-block;
	text-align: center;
	width: 100%;
	text-indent: 4px;
}

.custom-header nav span.custom-prev:before {
	content: '\f06d';
}

.custom-header nav span.custom-next:before {
	content: '\f070';
}

.custom-header nav span:last-child {
	margin-left: 20px;
	border-radius: 3px;
}

.custom-header nav span.custom-current-menu:before {
	content: '\f00a';
}

.custom-header nav span.custom-current:before {
	content: '\f0fe';
}



#todoList{
	margin-top: 20px;
}

.fc-todoList {
	background: rgba(255,255,255,0.1);
	width: auto;
	top: 10px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	min-height: 100%;
	height: auto;
	border-radius: 20px;
	position: absolute;
}

.fc-todoList .fc-row > div > span.fc-date {
	color: rgba(255,255,255,0.9);
	text-shadow: none;
	font-size: 26px;
	font-weight: 300;
	bottom: auto;
	right: auto;
	top: 10px;
	left: 10px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.fc-todoList .fc-row > div > span.fc-titleList {
	color: rgba(255,255,255,0.9);
	text-shadow: none;
/* 	font-size: 26px; */
	font-size: 1.5em;
	font-weight: 300;
	bottom: auto;
	right: auto;
	top: 10px;
	left: 10px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	width: 80%;
	display: inline-block;
	text-align: left;
}

.fc-todoList .fc-body {
	border: none;
	padding: 20px;
}

.fc-todoList .fc-row {
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.2);
	border: none;
}

.fc-todoList .fc-row:last-child {
	box-shadow: none;
}

.fc-todoList .fc-row:first-child > div:first-child {
	border-radius: 10px 0 0 0;
}

.fc-todoList .fc-row:first-child > div:last-child {
	border-radius: 0 10px 0 0;
}

.fc-todoList .fc-row:last-child > div:first-child {
	border-radius: 0 0 0 10px;
}

.fc-todoList .fc-row:last-child > div:last-child {
	border-radius: 0 0 10px 0;
}

.fc-todoList .fc-row > div {
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.2);
	border: none;
	padding: 10px;
	cursor: pointer;
}

.fc-todoList .fc-row > div:first-child{
	box-shadow: none;
}

.fc-todoList .fc-row > div.fc-today {
	background: transparent;
	box-shadow: inset 0 0 100px rgba(255,255,255,0.1);
}

.fc-todoList .fc-row > div.fc-today:after { 
	content: ''; 
	display: block;
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	
/* 	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0))); */
/* 	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0)); */
/* 	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -o-llinear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0)); */
/* 	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), -ms-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0)); */
/* 	background: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0)); */
}

.fc-todoList .fc-row > div > div {
	margin-top: 35px;
}

.fc-todoList .fc-row > div > div a,
.fc-todoList .fc-row > div > div span {
	color: rgba(255,255,255,0.7);
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 3px 5px;
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	margin-bottom: 1px;
	background: rgba(255,255,255,0.1);
}

.no-touch .fc-todoList .fc-row > div > div a:hover {
	background: rgba(255,255,255,0.3);
}

html, body, .container {
	height: auto;
}

.custom-header,
.custom-header nav,
.custom-todoList-full,
.fc-todoList-container, 
.fc-todoList,
.fc-todoList .fc-row > div > span.fc-date {
	position: relative;
	top: auto;
	left: auto;
	bottom: auto;
	right: auto;
	height: auto;
	width: auto;
}

.fc-todoList {
	margin: 0 20px 20px;
}

.custom-header h2,
.custom-header h3 {
	float: none;
	width: auto;
	/* text-align: left; */
	/* padding-right: 100px; */
}

.custom-header h3 a{
	padding-right: 0px !important;
	font-size: 10px;
	color: #FFF;
	letter-spacing: 1px;
}

.fc-todoList .fc-row,
.ie9 .fc-todoList .fc-row > div,
.fc-todoList .fc-row > div {
	height: auto;
	width: 100%;
	border: none;
}

.fc-todoList .fc-row > div {
	float: none;
	min-height: 50px;
	box-shadow: inset 0 -1px rgba(255,255,255,0.2) !important;
	border-radius: 0px !important;
}

.fc-todoList .fc-row > div:empty{
	min-height: 0;
	height: 0;
	box-shadow: none !important;
	padding: 0;
}

.fc-todoList .fc-row {
	box-shadow: none;
}


.fc-todoList .fc-row > div > div {
	margin-top: 0px;
	padding-left: 10px;
	max-width: 70%;
	display: inline-block;
}

.fc-todoList .fc-row > div.fc-today {
	background: rgba(255, 255, 255, 0.2);
}

.fc-todoList .fc-row > div.fc-today:after { 
	display: none;
}

.fc-todoList .fc-row > div > span.fc-date {
	width: 30px;
	display: inline-block;
	text-align: right;
}

.fc-todoList .fc-row > div > span.fc-icons {
	display: inline-block;
/* 	width: 40px; */
	width: 20%;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}

.fc-todoList .fc-row > div > span.fc-icons .fa {
	text-align: right;
	float: right;
	font-size: 2.5em;
}

.show{
	display: inline-block;
}

.hide{
	display: none;
}

.blur{
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px);
}

#formCrud{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	text-align: center;
	padding: 20px;
	color: #FFF;
	
 	background: #cebe29; 
 	background: -moz-linear-gradient(-45deg, #cebe29 0%, #9b1f50 33%, #2989d8 71%, #89b4ff 91%); 
 	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cebe29), color-stop(33%,#9b1f50), color-stop(71%,#2989d8), color-stop(91%,#89b4ff)); 
 	background: -webkit-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	background: -o-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	background: -ms-linear-gradient(-45deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	background: linear-gradient(135deg, #cebe29 0%,#9b1f50 33%,#2989d8 71%,#89b4ff 91%); 
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebe29', endColorstr='#89b4ff',GradientType=1 ); 
}

#formCrud .fa-times-circle-o{
	float: left;
	color: #FFF;
	font-size: 50px;
	cursor: pointer;
}

#formCrud .fa-sign-in{
	float: right;
	color: #FFF;
	font-size: 50px;
	cursor: pointer;
}

#formCrud input[type="text"]{
	height: 45px;
	width: 70%;
	padding: 10px;
	background: #FFF;
	border: solid 1px #FFF;
	color: #000;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 0px 10px #000000;
	-webkit-box-shadow: inset 0px 0px 10px #000000;
	box-shadow: inset 0px 0px 10px #000000;
	opacity: 0.6;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
	filter: alpha(opacity = 60);
}

#formCrud input[type="date"]{
	height: 45px;
	width: 70%;
	padding: 10px;
	background: #FFF;
	border: solid 1px #FFF;
	color: #000;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 0px 10px #000000;
	-webkit-box-shadow: inset 0px 0px 10px #000000;
	box-shadow: inset 0px 0px 10px #000000;
	opacity: 0.6;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
	filter: alpha(opacity = 60);
}

#formCrud input[type="checkbox"]{
	height: 45px;
	width: 70%;
	padding: 10px;
	background: #FFF;
	border: solid 1px #FFF;
	color: #000;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0px 0px 10px #000000;
	-webkit-box-shadow: inset 0px 0px 10px #000000;
	box-shadow: inset 0px 0px 10px #000000;
	opacity: 0.6;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
	filter: alpha(opacity = 60);
}

hr.margin-10{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #FFF;
    color: #FFF;
    text-align: center;
}

hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent;
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: #FFF;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: #FFF;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

#inputTitle{
	margin-left: 5px;
	width: 60% !important;
	display: inline-block;
	float: left;
}

#inputDate{
	margin-left: 5px;
	width: 20% !important;
	display: inline-block;
	float: left;
}

#chkUrgent{
	margin-left: 15px;
	width: 35px !important;
	display: inline-block;
	float: left;
}